html {
  overflow-x: hidden;
}
.container-fluid,
.container {
  padding: 0;
}
.container-fluid {
  padding-top: 70px;
}
.row {
  margin: 0;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: Microsoft Yahei, Arial, san-serif, serif;
}
img {
  max-width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 35px;
}
.inline-block {
  display: inline-block;
}
.relative {
  position: relative;
}
.green_2 {
  color: #42bd7f;
}
.transition {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.one-line-limit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#alertsearch {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}
#alertsearch .alertbox {
  width: 600px;
  height: 70px;
  background: #fff;
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 6px;
  padding-top: 15px;
}
#alertsearch .alertinput {
  background: #f1f1f1;
  width: 94%;
  height: 40px;
  margin: 0 auto;
  position: relative;
}
#alertsearch .alertinput input.shuru {
  height: 84%;
  width: 85%;
  padding-left: 2%;
  background: none;
  border: none;
  outline: none;
  line-height: 84%;
  font-size: 16px;
  padding-top: 3px;
}
#alertsearch .alertinput input.tijiao {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 10%;
  background: #42bd7f url('../images/search_bar.png') no-repeat center center;
  border: none;
  background-size: 50%;
  cursor: pointer;
}
#share {
  position: absolute;
  right: 10px;
  bottom: -30px;
  display: none;
}
.swiper-pagination-bullet {
  background: #ccc;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #42bd7f;
}
.prev.swiper-button-disabled {
  background-image: url("../images/prev_disabled.png") !important;
}
.next.swiper-button-disabled {
  background-image: url("../images/next_disabled.png") !important;
}
.blue {
  color: #0bbaf2;
}
.collapse-button {
  position: absolute;
  z-index: 999;
  right: 210px;
  top: 1.6%;
  width: 40px;
  padding: 7px 17px;
  font-size: 14px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}
.collapse-button .icon-bar {
  display: block;
  height: 3px;
  width: 20px;
  margin: 3px 0;
  background: #42bd7f;
  border-radius: 2px;
}
.news-icon {
  position: absolute;
  width: 27px;
  height: 24px;
  right: 10px;
  top: 10px;
}
.video-icon {
  background: url("../images/video-icon.png") no-repeat 0 0 / contain;
}
.to-down {
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -17.5px;
  background: url("../images/to_down.png") no-repeat 0 0;
  background-size: 100%;
  cursor: pointer;
}
.scale {
  transition: all ease 3s;
  transform: scale(1.1);
  opacity: 0;
}
#mobileNav {
  padding: 0;
  clear: both;
}
#mobileNav li.has-submenu {
  width: 100%;
  text-align: center;
  line-height: 40px;
  background: #6dca9a;
  color: #fff;
  position: relative;
}
#mobileNav li.has-submenu:hover {
  background: #5cb989;
}
#mobileNav li.has-submenu a {
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 16px;
}
#mobileNav li.has-submenu li {
  background: #4ba878;
}
#mobileNav li.has-submenu li:hover {
  background: #3a9767;
}
#mobileNav li.has-submenu .sub-toggle {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 999;
  width: 48px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  color: #fff;
}
#mobileNav li.has-submenu i {
  font-style: normal;
}
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  background: #fff;
  border: 1px solid #ededed;
}
#header .logo {
  display: inline-block;
  padding-top: 12px;
  margin-left: 40px;
  float: left;
}
#header .header-nav {
  display: inline-block;
  height: 69px;
  position: relative;
  margin-right: 20px;
}
#header .header-nav a {
  color: #333;
  display: block;
  width: 100%;
  height: 100%;
}
#header .header-nav a:hover {
  text-decoration: none;
  color: #6dca9a;
}
#header .header-nav .nav-li {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100%;
  line-height: 70px;
  text-align: center;
  font-size: 16px;
}
#header .header-nav .nav-li:hover .sub-nav {
  display: block;
}
#header .header-nav .sub-nav {
  list-style-type: none;
  position: absolute;
  display: none;
  z-index: 10;
  padding: 0;
  background: #fff;
  width: 180%;
  min-width: 60px;
  left: -40%;
  border-top: 1px solid #f1f1f1;
}
#header .header-nav .sub-nav li {
  width: 100%;
  line-height: 40px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
#header .header-nav .sub-nav li:hover {
  background: #6dca9a;
}
#header .header-nav .sub-nav li:hover a {
  color: #fff;
}
#header .header-nav .extra-link {
  border-left: 1px solid #e5e5e5;
  vertical-align: top;
  width: 80px;
}
#header .header-nav .search a {
  background: url('../images/search.png') no-repeat 50% 50%;
}
#header .header-nav .share a {
  background: url('../images/share.png') no-repeat 50% 50%;
}
.content .content-part .part-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
  font-size: 32px;
}
.underline {
  position: relative;
}
.underline::after {
  content: '';
  position: absolute;
  border-bottom: 4px solid #42bd7f;
  top: 140%;
  width: 50px;
  left: 50%;
  margin-left: -25px;
}
.underline-left {
  position: relative;
}
.underline-left::after {
  content: '';
  position: absolute;
  border-bottom: 4px solid #42bd7f;
  top: 150%;
  width: 50px;
  left: 0;
}
.stretch-part {
  width: 100%;
  padding-bottom: 26%;
  position: relative;
  overflow: hidden;
}
.stretch-part .stretch-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 1s ease all;
  -webkit-transition: 1s ease all;
}
.stretch-part .stretch-text {
  position: absolute;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.stretch-part .stretch-text .wrap {
  max-width: 100%;
  display: inline-block;
  position: relative;
  top: 46%;
  margin-top: -120px;
}
.stretch-part .stretch-text .title {
  margin-top: 10px;
}
.stretch-part .stretch-text h2 {
  font-size: 34px;
}
.stretch-part .stretch-text .play {
  display: inline-block;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  width: 48px;
  height: 55px;
  background: url("../images/play_01.png") no-repeat 0 0 / contain;
}
.stretch-part:hover .stretch-img {
  transform: scale(1.04);
}
.stretch-part:hover .play {
  transform: scale(1.2);
  opacity: 0;
}
.content .big-title .title {
  font-size: 32px;
  margin-top: 0;
}
.content .big-title .sub-title {
  font-size: 26px;
}
.content .big-title .description {
  font-size: 16px;
  line-height: 26px;
}
#dongtai {
  border-top: 1px solid #ededed;
}
#dongtai a {
  text-decoration: none;
}
#dongtai .dongtai-menu {
  position: relative;
}
#dongtai .swiper-button {
  position: absolute;
  right: 10px;
  top: -60px;
}
#dongtai .swiper-button .prev {
  cursor: pointer;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  display: inline-block;
  background: url("../images/prev.png") no-repeat 0 0 / contain;
}
#dongtai .swiper-button .next {
  cursor: pointer;
  width: 10px;
  height: 16px;
  display: inline-block;
  background: url("../images/next.png") no-repeat 0 0 / contain;
}
#dongtai .dongtai-box .img {
  width: 100%;
  overflow: hidden;
}
#dongtai .dongtai-box .img img {
  width: 100%;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}
#dongtai .dongtai-box .img img:hover {
  transform: scale(1.04);
}
#dongtai .dongtai-box .date {
  margin-top: 10px;
  color: #bcbcbc;
}
#dongtai .dongtai-box .title {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
#dongtai .dongtai-box .description {
  color: #ababab;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#dongtai .more a {
  display: block;
  width: 274px;
  background: #42bd7f;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 56px;
  margin: 50px auto 0;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
#dongtai .more a:hover {
  background: #209b5d;
}
#footer {
  margin-top: 50px;
  height: 295px;
  clear: both;
  background: url("../images/footer.jpg") no-repeat 0 0 / cover;
}
#footer .buildings {
  color: #fff;
  margin-top: 24px;
  text-align: center;
}
#footer .buildings li {
  display: inline-block;
  width: 24%;
}
#footer .buildings li .city {
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
}
#footer .buildings li .location {
  margin: 0;
  margin-top: 4px;
}
#footer .buildings li .phone {
  margin: 0;
  color: #888;
  font-size: 13px;
}
#footerMenu {
  border-bottom: 1px solid #ededed;
}
#footerMenu ul {
  text-align: center;
}
#footerMenu ul li {
  display: inline-block;
  width: 13.5%;
  text-align: center;
  line-height: 60px;
  font-size: 18px;
}
#footerMenu ul li a {
  text-decoration: none;
  display: block;
  color: #000;
}
#footerMenu ul li a:hover {
  color: #6dca9a;
}
#copyright {
  margin-top: 14px;
  padding-bottom: 20px;
  text-align: center;
  color: #b6b6b6;
  font-size: 12px;
}
.chanye-page .chanye-title .stretch-part .wrap {
  margin-top: -68px;
}
.chanye-page .chanye-title .description {
  margin-top: 50px;
}
.chanye-page .chanye-detail {
  margin: 40px auto 0;
  width: 74%;
}
.chanye-page .chanye-detail .left {
  display: inline-block;
  width: 55%;
  padding-right: 5%;
  vertical-align: top;
}
.chanye-page .chanye-detail .left .description {
  margin-top: 48px;
  text-indent: 2em;
  font-size: 16px;
  line-height: 30px;
  color: #606060;
}
.chanye-page .chanye-detail .left .description p {
  margin: 0 0 6px;
}
.chanye-page .chanye-detail .left .title {
  margin-top: 11%;
  padding-bottom: 10px;
  font-size: 34px;
}
.chanye-page .chanye-detail .right {
  display: inline-block;
  width: 40%;
}
.chanye-page .chanye-icon {
  border-top: 1px solid #ededed;
  margin-top: 40px;
}
.chanye-page .chanye-icon .part-title {
  margin-top: 60px;
  margin-bottom: 70px;
}
.chanye-page .chanye-description {
  width: 64%;
  text-indent: 2em;
  margin: 60px auto 0;
  font-size: 16px;
  line-height: 30px;
  color: #606060;
}
.chanye-page .chanye-description p {
  margin: 0 0 6px;
}
@media (max-width: 1160px) {
  .header-nav .nav-li {
    width: 60px !important;
  }
  .header-nav .nav-li .sub-nav {
    width: 100px !important;
  }
  .stretch-part {
    padding-bottom: 32%;
  }
  .stretch-part .stretch-text .title {
    font-size: 28px!important;
  }
  .stretch-part .stretch-text .description {
    margin-bottom: 4px!important;
  }
  .stretch-part .stretch-text .play {
    width: 50px !important;
    height: 50px !important;
  }
  .stretch-part .big-title .title {
    font-size: 30px!important;
  }
  .stretch-part .big-title .sub-title {
    margin-top: 20px!important;
    font-size: 24px!important;
  }
  .stretch-part .big-title .description {
    font-size: 14px!important;
  }
}
@media (max-width: 992px) {
  .stretch-part {
    padding-bottom: 40% !important;
  }
  .chanye-page .chanye-detail {
    width: 95%;
  }
  .chanye-page .chanye-icon .stretch-part .stretch-text .wrap {
    width: 98%;
  }
  .chanye-page .chanye-description {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .stretch-part {
    padding-bottom: 52% !important;
  }
  /*导航头部*/
  .container-fluid {
    padding-top: 60px;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  #header .logo {
    margin-left: 11px;
  }
  #header .header-nav {
    height: 49px;
    margin-right: 0px;
  }
  .header-nav .nav-li {
    width: 60px;
  }
  #header .header-nav .extra-link {
    border: none;
    line-height: 50px;
    width: 32px !important;
  }
  #header .header-nav .extra-link a {
    color: #888;
  }
  .collapse-button {
    top: 8px;
    right: 118px;
  }
  .collapse-button .icon-bar {
    background: #888;
  }
  /*导航头部*/
  .content .content-part .part-title {
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .stretch-part .stretch-text .description {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .line-limit {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .chanye-page .chanye-title .stretch-part .wrap {
    width: 96%;
  }
  .chanye-page .chanye-detail {
    width: 98%;
  }
  .chanye-page .chanye-detail .left {
    width: 58%;
    padding-right: 2%;
  }
}
@media (max-width: 414px) {
  h1,
  h2,
  h3 {
    margin-top: 16px;
  }
  .swiper-pagination .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    margin: 0 2px!important;
  }
  .container-fluid {
    padding-top: 50px;
  }
  .header .logo {
    width: 160px !important;
    padding-top: 10px !important;
  }
  .stretch-part {
    padding-bottom: 70% !important;
  }
  .stretch-part .stretch-text .img span {
    width: 60px !important;
    height: 60px !important;
  }
  .stretch-part .stretch-text .title {
    font-size: 18px!important;
  }
  .stretch-part .stretch-text .sub-title {
    font-size: 15px!important;
  }
  .stretch-part .stretch-text .description {
    width: 96%;
    font-size: 12px!important;
    margin: 0 auto;
  }
  .stretch-part .stretch-text .play {
    width: 27px !important;
    height: 40px !important;
  }
  .news-icon {
    width: 20px !important;
    height: 18px !important;
    top: 4px;
    right: 4px;
  }
  #footer .buildings {
    margin-top: 12px;
  }
  #footer {
    margin-top: 35px;
    height: 303px;
  }
  #footer .buildings li {
    vertical-align: top;
    width: 23%;
  }
  #footer .buildings li .city {
    font-size: 14px;
  }
  #footer .buildings li .location {
    font-size: 13px;
  }
  #footerMenu ul li {
    font-size: 12px;
    width: 13%;
  }
  .chanye-page .chanye-detail {
    margin-top: 20px;
    text-align: center;
  }
  .chanye-page .chanye-detail .left {
    width: 98%;
    padding-right: 0;
  }
  .chanye-page .chanye-detail .left .title {
    text-align: center;
    font-size: 20px;
    margin-top: 0;
  }
  .chanye-page .chanye-detail .left .description {
    text-align: left;
    font-size: 13px;
    line-height: 20px;
    margin-top: 20px;
  }
  .chanye-page .chanye-detail .right {
    width: 80%;
  }
  .chanye-page .stretch-part .stretch-text .description {
    margin-top: 20px;
    overflow: auto;
    white-space: normal;
  }
  .chanye-page .chanye-description {
    width: 96%;
    margin-top: 16px;
    font-size: 13px;
    line-height: 18px;
  }
  .underline-left::after {
    width: 40px;
    margin-left: -20px;
    left: 50%;
    top: 100%;
  }
  #dongtai .dongtai-box p.date {
    padding-left: 8px!important;
  }
  #dongtai .dongtai-box .title {
    padding-left: 8px!important;
    padding-right: 8px!important;
  }
  #dongtai .dongtai-box .description {
    padding-left: 8px!important;
    padding-right: 8px !important;
  }
  #dongtai .more a {
    margin-top: 20px;
  }
  .to-down {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    bottom: 6px;
  }
}
