html {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: Microsoft Yahei, Arial, san-serif, serif;
}
img {
  max-width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 35px;
}
.inline-block {
  display: inline-block;
}
.relative {
  position: relative;
}
.swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #0bbaf2;
}
.prev.swiper-button-disabled {
  background-image: url("../images/prev_disabled.png") !important;
}
.next.swiper-button-disabled {
  background-image: url("../images/next_disabled.png") !important;
}
.blue {
  color: #0bbaf2;
}
.container-fluid {
  padding: 0;
}
.collapse-button {
  position: absolute;
  right: 210px;
  top: 1.6%;
  width: 40px;
  padding: 7px 17px;
  font-size: 14px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}
.collapse-button .icon-bar {
  display: block;
  height: 3px;
  width: 20px;
  margin: 3px 0;
  background: #0bbaf2;
  border-radius: 2px;
}
#mobileNav {
  padding: 0;
}
#mobileNav li.has-submenu {
  width: 100%;
  text-align: center;
  line-height: 40px;
  background: #6dca9a;
  color: #fff;
  position: relative;
}
#mobileNav li.has-submenu:hover {
  background: #5cb989;
}
#mobileNav li.has-submenu a {
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 16px;
}
#mobileNav li.has-submenu li {
  background: #4ba878;
}
#mobileNav li.has-submenu li:hover {
  background: #3a9767;
}
#mobileNav li.has-submenu .sub-toggle {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 999;
  width: 48px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  color: #fff;
}
#mobileNav li.has-submenu i {
  font-style: normal;
}
.header .logo {
  display: inline-block;
  padding-top: 12px;
  margin-left: 40px;
  float: left;
}
.header .header-nav {
  display: inline-block;
  height: 70px;
  position: relative;
  margin-right: 20px;
}
.header .header-nav a {
  color: #333;
  display: block;
  width: 100%;
  height: 100%;
}
.header .header-nav a:hover {
  text-decoration: none;
  color: #6dca9a;
}
.header .header-nav .nav-li {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100%;
  line-height: 70px;
  text-align: center;
  font-size: 16px;
}
.header .header-nav .nav-li:hover .sub-nav {
  display: block;
}
.header .header-nav .sub-nav {
  list-style-type: none;
  position: absolute;
  display: none;
  z-index: 10;
  padding: 0;
  background: #fff;
  width: 140%;
  min-width: 60px;
  left: -20%;
  border-top: 1px solid #f1f1f1;
}
.header .header-nav .sub-nav li {
  width: 100%;
  line-height: 40px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.header .header-nav .sub-nav li:hover {
  background: #6dca9a;
}
.header .header-nav .sub-nav li:hover a {
  color: #fff;
}
.header .header-nav .extra-link {
  border-left: 1px solid #e5e5e5;
  vertical-align: top;
  width: 80px;
}
.header .header-nav .search a {
  background: url('../images/search.png') no-repeat 50% 50%;
}
.header .header-nav .share a {
  background: url('../images/share.png') no-repeat 50% 50%;
}
.content .content-part .part-title {
  text-align: center;
  margin-bottom: 48px;
}
.content .content-part .part-title span {
  position: relative;
}
.content .content-part .part-title span::after {
  content: '';
  position: absolute;
  border-bottom: 4px solid #0bbaf2;
  top: 118%;
  width: 40%;
  left: 30%;
}
.stretch-part {
  width: 100%;
  padding-bottom: 26%;
  position: relative;
}
.stretch-part .stretch-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 1s ease all;
  -webkit-transition: 1s ease all;
}
.stretch-part .stretch-text {
  position: absolute;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 5%;
}
.stretch-part .stretch-text .title {
  margin-top: 10px;
}
.stretch-part .stretch-text h2 {
  font-size: 34px;
}
.stretch-part .stretch-text .play {
  display: inline-block;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  width: 56px;
  height: 60px;
  background: url("../images/play_01.png") no-repeat 0 0 / contain;
}
.stretch-part:hover .stretch-img {
  transform: scale(1.04);
}
.stretch-part:hover .play {
  transform: scale(1.2);
  opacity: 0;
}
@media (max-width: 1160px) {
  .header-nav .nav-li {
    width: 60px !important;
  }
  .header-nav .nav-li .sub-nav {
    width: 100px !important;
  }
  .stretch-part .stretch-text .title {
    font-size: 28px!important;
  }
  .stretch-part .stretch-text .description {
    margin-bottom: 4px!important;
  }
  .stretch-part .stretch-text .play {
    width: 50px !important;
    height: 50px !important;
  }
}
@media (max-width: 992px) {
  .stretch-part {
    padding-bottom: 35% !important;
  }
}
@media (max-width: 768px) {
  .stretch-part {
    padding-bottom: 49% !important;
  }
}
@media (max-width: 414px) {
  .header .logo {
    width: 160px !important;
    padding-top: 15px !important;
  }
  .stretch-part {
    padding-bottom: 55% !important;
  }
  .stretch-part .stretch-text .img span {
    width: 80px !important;
    height: 60px !important;
  }
  .stretch-part .stretch-text .title {
    font-size: 16px!important;
  }
  .stretch-part .stretch-text .description {
    font-size: 12px!important;
  }
  .stretch-part .stretch-text .play {
    width: 36px !important;
    height: 40px !important;
  }
}
