.development {
  background: #424954;
  height: 400px;
}
#banner img {
  width: 100%;
}
#chanye .chanye-sub-menu .chanye01 .stretch-img {
  background: url("../images/chanye_01.jpg") no-repeat 0 0 / cover;
}
#chanye .chanye-sub-menu .chanye02 .stretch-img {
  background: url("../images/5.jpg") no-repeat 0 0 / cover;
}
#chanye .chanye-sub-menu .chanye03 .stretch-img {
  background: url("../images/4.jpg") no-repeat 0 0 / cover;
}
#chanye .chanye-sub-menu .chanye04 .stretch-img {
  background: url("../images/3.jpg") no-repeat 0 0 / cover;
}
#chanye .chanye-sub-menu .chanye05 .stretch-img {
  background: url("../images/2.jpg") no-repeat 0 0 / cover;
}
#chanye .chanye-sub-menu .chanye06 .stretch-img {
  background: url("../images/1.jpg") no-repeat 0 0 / cover;
}
#chanye .chanye-sub-menu .chanye07 .stretch-img {
  background: url("../images/6.jpg") no-repeat 0 0 / cover;
}
#chanye .chanye-sub-menu .stretch-text .img span {
  display: inline-block;
  width: 99px;
  height: 90px;
}
#chanye .chanye-menu {
  position: relative;
  top: -85px;
  margin-bottom: 0;
}
#chanye .chanye-menu .chanye-box {
  background: #b6b6b6;
  color: #fff;
  text-align: center;
  padding: 18% 0;
}
#chanye .chanye-menu .chanye-box .img {
  display: inline-block;
  width: 99px;
  height: 90px;
}
#chanye .chanye-menu .chanye-box h4 {
  font-size: 24px;
}
#chanye .chanye-menu .swiper-slide-active .chanye-box {
  background-color: #42bd7f;
}
#chanye .chanye-menu .swiper-button {
  position: relative;
  text-align: center;
  padding-top: 35px;
}
#chanye .chanye-menu .swiper-button .prev {
  width: 15px;
  height: 24px;
  display: inline-block;
  background: url("../images/prev.png") no-repeat;
  cursor: pointer;
  margin-right: 20px;
}
#chanye .chanye-menu .swiper-button .next {
  width: 15px;
  height: 24px;
  display: inline-block;
  background: url("../images/next.png") no-repeat;
  cursor: pointer;
}
#public {
  margin-top: 87px;
}
#public .stretch-img {
  background: url("../images/public.jpg") no-repeat 0 0 / cover;
}
#public .img span {
  display: inline-block;
}
#public .more {
  display: block;
  width: 176px;
  color: #fff;
  border: 2px solid #42bd7f;
  margin: 4px auto 0;
  line-height: 30px;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
#public .more:hover {
  background: #42bd7f;
}
#public .description {
  font-size: 15px;
  margin: 0 auto;
}
#qrcode {
  margin-top: 40px;
  text-align: center;
}
#qrcode .qrcode .img {
  width: 42%;
  display: inline-block;
  cursor: pointer;
}
#qrcode .contact {
  margin-top: 7%;
}
#qrcode .contact a {
  width: 22%;
  height: 28px;
  display: inline-block;
  background: no-repeat 50% 50%;
}
#qrcode .contact .facebook {
  background-image: url("../images/icon_facebook.png");
}
#qrcode .contact .twitter {
  background-image: url("../images/icon_twitter.png");
}
#qrcode .contact .ins {
  background-image: url("../images/icon_ins.png");
}
#qrcode .contact .google {
  background-image: url("../images/icon_google.png");
}
@media (max-width: 1400px) {
  #chanye .chanye-sub-menu .stretch-part {
    padding-bottom: 32%;
  }
  #public .stretch-text .title {
    margin: 10px;
  }
  #public .stretch-text .description {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  #public .wrap {
    margin-top: -100px;
  }
  #public .stretch-text .img span {
    width: 100px;
  }
  #public .stretch-text .title {
    font-size: 24px;
  }
  #chanye .chanye-menu {
    top: -20px !important;
  }
}
@media (max-width: 414px) {
  #chanye {
    margin-bottom: 10px;
  }
  #chanye .chanye-menu {
    top: 0;
  }
  #chanye .chanye-sub-menu .wrap {
    margin-top: -80px;
    width: 90%;
  }
  #chanye .chanye-box .img {
    width: 40% !important;
    height: 50px !important;
  }
  #chanye .chanye-box h4 {
    font-size: 14px!important;
  }
  /*////增加的//////*/
  #chanye .chanye-menu .swiper-button {
    padding-top: 15px;
  }
  #chanye .chanye-menu .chanye-box {
    padding: 13% 0 11% 0;
  }
  #dongtai .swiper-button {
    top: -47px;
    right: 15px;
  }
  #dongtai .more a {
    width: 100%;
    margin: 15px auto 0;
  }
  #public {
    margin-top: 70px;
  }
  #public .stretch-text .description {
    width: 90%;
  }
  /*////增加的//////*/
}
