.news-head .stretch-part .stretch-img {
  background: url("../images/news/news_head.jpg") no-repeat 0 0 / cover;
}
.news-head .stretch-part .stretch-text .description {
  margin-top: 46px;
}
.list-body {
  width: 70%;
  margin: 50px auto 0;
  padding: 0 15px;
  text-align: left;
}
.list-body ul {
  margin: 0 -15px;
}
.list-body li {
  display: inline-block;
  width: 30%;
  text-align: left;
  border: 1px solid #ededed;
  margin: 0 15px 30px;
  position: relative;
}
.list-body li .img {
  width: 100%;
}
.list-body li .img img {
  width: 100%;
}
.list-body li .word {
  padding: 0 10px 20px;
  margin-top: 10px;
  font-size: 16px;
}
.list-body li .word .date {
  color: #888;
  display: block;
}
.list-body li .word .title {
  font-weight: bold;
  display: block;
  font-size: 16px;
  color: #000;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news-body {
  width: 70%;
  margin: 50px auto 0;
  text-align: center;
}
.news-body .news-title {
  color: #000;
  font-size: 32px;
  font-weight: bold;
}
.news-body .news-date {
  margin: 30px 0 20px;
  color: #b6b6b6;
}
.news-body .news-date .source {
  margin-left: 20px;
}
.news-body .news-content {
  font-family: Microsoft Yahei, Arial, san-serif, serif;
  margin: 0 auto;
  max-width: 900px;
  border-top: 1px solid #ededed;
  padding-top: 40px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ededed;
  text-align: left;
  font-size: 16px;
  line-height: 30px;
}
.news-body .news-content p {
  text-indent: 2em;
  word-break: break-all;
}
.news-body .news-content img {
  margin: 20px 0;
  width: 600px;
}
.news-body .news-nav {
  max-width: 900px;
  margin: 30px auto 0;
}
.news-body .news-nav .prev {
  float: left;
  max-width: 48%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news-body .news-nav .prev span {
  color: #42bd7f;
}
.news-body .news-nav .prev a {
  color: #606060;
}
.news-body .news-nav .next {
  float: right;
  max-width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news-body .news-nav .next span {
  color: #42bd7f;
}
.news-body .news-nav .next a {
  color: #606060;
}
@media (max-width: 1300px) {
  .list-body li {
    margin: 0 1% 20px;
  }
}
@media (max-width: 1160px) {
  .list-body {
    width: 86%;
  }
  .news-body {
    width: 82%;
  }
}
@media (max-width: 992px) {
  .news-body {
    width: 88%;
  }
}
@media (max-width: 768px) {
  .list-body {
    width: 92%;
  }
  .list-body .word {
    padding: 0 4px 10px!important;
    margin-top: 4px!important;
  }
  .list-body .word .date {
    font-size: 14px!important;
  }
  .list-body .word .title {
    margin-top: 4px!important;
    font-size: 14px!important;
  }
  .news-body {
    width: 95%;
  }
  .news-body .news-nav .prev {
    width: 100%;
    max-width: inherit;
    text-align: left;
  }
  .news-body .news-nav .next {
    width: 100%;
    max-width: inherit;
    text-align: left;
    margin-top: 10px;
  }
}
@media (max-width: 414px) {
  .list-body {
    margin-top: 40px;
    width: 100%;
    text-align: center;
  }
  .list-body li {
    width: 46% !important;
  }
  .list-body .word {
    padding: 0 4px 10px!important;
    margin-top: 4px!important;
  }
  .list-body .word .date {
    font-size: 14px!important;
  }
  .list-body .word .title {
    margin-top: 4px!important;
    font-size: 14px!important;
  }
  .news-body .news-content {
    font-size: 14px;
    line-height: 24px;
  }
  .news-body .news-content img {
    width: 100% !important;
  }
}
