#shequ .chanye-title .stretch-img {
  background: url("../images/shequ/shequ_01.jpg") no-repeat 0 0 / cover;
}
#shequ .chanye-icon .stretch-img {
  background: url("../images/shequ/shequ_02.jpg") no-repeat 0 0 / cover;
}
#shequ .chanye-detail {
  border-top: 1px solid #ededed;
  padding-top: 50px;
  margin-top: 60px;
}
