#timeline #dates {
  width: 74%;
  overflow: hidden;
  margin: 0 auto;
}
#timeline #dates .dates-wrap {
  width: 2000px;
  color: #fff;
  position: relative;
}
#timeline #dates .dates-wrap .dates-item {
  float: left;
  width: 100px;
  font-size: 16px;
  position: relative;
}
#timeline #dates .dates-wrap .dates-item i {
  font-size: 13px;
  font-style: normal;
}
#timeline #dates .dates-wrap .dates-item .circle {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: grey;
  top: -25px;
}
#fazhan {
  width: 100%;
  padding-bottom: 52%;
  background: #424954;
}
#fazhan .part-title {
  color: #fff;
  padding-top: 50px;
  border-bottom: 1px solid #474e58;
  padding-bottom: 80px;
}
#fazhan .list {
  width: 74%;
}
#fazhan .list .box .img {
  display: inline-block;
  width: 40%;
  margin-right: 10%;
  text-align: center;
}
#fazhan .list .box .title {
  display: inline-block;
  width: 48%;
}
#fazhan .list .box .title .cn {
  color: #fff;
  font-size: 22px;
  line-height: 26px;
}
#fazhan .list .box .title .en {
  color: #42bd7f;
  font-size: 20px;
}
#jianjie .part-body .left {
  padding: 0 40px;
}
#jianjie .part-body .left .title {
  font-size: 34px;
}
#jianjie .part-body .left p {
  color: #b6b6b6;
  text-indent: 2em;
}
#jianjie .part-body .right {
  padding: 78px 60px 0;
}
#jianjie .part-body .right ul {
  line-height: 100px;
  border-top: 2px solid #42bd7f;
}
#jianjie .part-body .right ul li {
  border-bottom: 2px solid #42bd7f;
}
#jianjie .part-body .right ul li .number {
  display: inline-block;
  width: 48%;
  text-align: right;
  padding-right: 20px;
}
#jianjie .part-body .right ul li .number span {
  font-weight: bold;
  font-size: 60px;
  vertical-align: bottom;
  margin-right: 16px;
}
#jianjie .part-body .right ul li .detail {
  display: inline-block;
  width: 48%;
  padding-left: 20px;
}
#jianjie .part-body .list {
  margin-top: 40px;
  padding: 0 40px;
  text-align: center;
}
#jianjie .part-body .list li {
  display: inline-block;
  width: 12%;
  text-align: center;
}
#jianjie .part-body .list .img {
  width: 76px;
  height: 79px;
  display: inline-block;
}
#linghun .part-body .detail {
  margin-top: 30px;
  text-align: center;
  color: #888;
}
#magazine {
  border-top: 1px solid #ededed;
  margin-top: 40px;
  padding-top: 50px;
}
#magazine ul {
  text-align: center;
}
#magazine ul li {
  display: inline-block;
  text-align: center;
  width: 33%;
}
#magazine ul li .img {
  width: 80%;
  margin: 0 auto;
}
#magazine ul li .title {
  font-weight: bold;
  margin: 14px 0 4px;
}
#magazine ul li .detail {
  color: #888;
}
#paper {
  padding-bottom: 40px;
}
#paper .paper-title {
  text-align: center;
}
#paper .paper-title .img {
  width: 21%;
  margin: 0 auto;
}
#paper .box:not(:last-child) {
  margin-right: 10px;
}
#paper .box .img {
  width: 100%;
}
#paper .box .img img {
  width: 100%;
}
#paper .box .title {
  color: #0bbaf2;
}
#paper .box .person {
  font-weight: bold;
}
#paper .box .word {
  border-bottom: 1px solid #999;
}
#paper .box .more {
  text-decoration: none;
  color: #0bbaf2;
}
#paper .box .detail {
  padding-left: 12px;
}
@media (max-width: 1500px) {
  #jianjie .part-body .right {
    padding: 78px 30px 0;
  }
}
@media (max-width: 1300px) {
  #jianjie .part-body .right {
    padding: 78px 10px 0;
  }
  #jianjie .part-body .list {
    padding: 0;
  }
}
@media (max-width: 992px) {
  #linghun .part-body .detail {
    padding: 0 12px;
  }
  #magazine ul li {
    width: 28%;
  }
}
@media (max-width: 768px) {
  #jianjie .part-body .list li {
    width: 11%;
    padding: 0 4px;
  }
  #jianjie .part-body .list .img {
    width: 100%;
  }
  #paper .paper-title .img {
    width: 30%;
  }
}
@media (max-width: 414px) {
  #jianjie .part-body .right {
    padding: 30px 0 0;
  }
  #jianjie .part-body .right ul {
    line-height: 60px;
  }
  #jianjie .part-body .right ul li .number {
    padding-right: 4px;
    width: 40%;
  }
  #jianjie .part-body .right ul li .number span {
    font-size: 30px;
  }
  #jianjie .part-body .right ul li .detail {
    width: 58%;
    padding-left: 4px;
  }
  #jianjie .part-body .list li {
    width: 20%;
  }
  #magazine ul li {
    width: 60%;
  }
  #paper .paper-title .img {
    width: 50%;
  }
}
