.part-body {
  overflow: hidden;
  position: relative;
}
.part-body .bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 1s ease all;
  -webkit-transition: 1s ease all;
}
.part-body:hover .bg-img {
  transform: scale(1.04);
}
#yuanjing .stretch-part .stretch-img {
  background: url("../images/wenhua/wenhua_01.jpg") no-repeat 0 0 / cover;
}
#yuanjing .stretch-part .stretch-text .wrap {
  margin-top: -90px;
}
#yuanjing .detail .row {
  margin-top: 50px;
}
#yuanjing .detail .item {
  width: 550px;
  margin: 0 auto;
  cursor: context-menu;
}
#yuanjing .detail .item .box {
  display: inline-block;
  position: relative;
  width: 30%;
  padding-top: 27.5%;
  margin-right: 10%;
  vertical-align: middle;
  border: 6px solid #888;
}
#yuanjing .detail .item .box .msg span {
  position: absolute;
  font-size: 60px;
  color: #888;
  top: 20%;
  right: -36px;
  background: #fff;
}
#yuanjing .detail .item .description {
  display: inline-block;
  position: relative;
  top: 14px;
  color: #888;
  font-size: 18px;
}
#yuanjing .detail .item:hover .box {
  border-color: #6dca9a;
}
#yuanjing .detail .item:hover .box .msg span {
  color: #6dca9a;
}
#yuanjing .detail .item:hover .description {
  color: #6dca9a;
}
#shiming {
  margin-top: 40px;
  border-top: 1px solid #ededed;
  color: #606060;
  text-align: center;
}
#shiming .part-title {
  font-size: 46px;
  margin-bottom: 36px;
}
#shiming .sub-title {
  font-size: 26px;
}
#shiming .description {
  font-size: 16px;
  line-height: 24px;
}
#jiazhi {
  margin-top: 50px;
  padding-bottom: 32%;
}
#jiazhi .stretch-img {
  background: url("../images/wenhua/wenhua_02.jpg") no-repeat 0 0 / cover;
}
#jiazhi .stretch-text {
  padding-top: 3%;
}
#jiazhi .sub-title {
  margin-bottom: 30px;
}
#jiazhi .item .img {
  width: 45%;
  display: inline-block;
}
#jiazhi .item .list-title {
  font-size: 30px;
}
#jiazhi .item .description {
  font-size: 18px;
  line-height: 28px;
}
#qide {
  margin-top: 50px;
  text-align: center;
}
#qide .bg-img {
  background: url("../images/wenhua/wenhua_03.jpg") no-repeat 0 0 / cover;
}
#qide .title {
  font-size: 46px;
}
#qide .part-body {
  margin-top: 90px;
  padding-top: 140px;
  width: 100%;
  height: 592px;
}
#qide .part-body ul .axis-box {
  cursor: context-menu;
  display: inline-block;
  margin-right: -5px;
  width: 180px;
  height: 160px;
  position: relative;
  border-bottom: 2px solid #b6b6b6;
}
#qide .part-body ul .axis-box span {
  position: absolute;
}
#qide .part-body ul .axis-box .index {
  font-size: 24px;
  width: 40px;
  line-height: 40px;
  color: #fff;
  background: #888;
  display: block;
  border-radius: 50%;
  left: 50%;
  margin-left: -20px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
#qide .part-body ul .axis-box .axis-title {
  white-space: pre;
  width: 100%;
  font-size: 18px;
  color: #888;
  left: 0;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
#qide .part-body ul .axis-box .spot {
  width: 0;
  height: 0;
  border: 5px solid #606060;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  border-radius: 50%;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
#qide .part-body ul .axis-box:hover .index {
  color: #fff;
  background: #42bd7f;
}
#qide .part-body ul .axis-box:hover .axis-title {
  color: #42bd7f;
}
#qide .part-body ul .axis-box:hover .spot {
  border-color: #42bd7f;
}
#qide .part-body ul .up .index {
  bottom: 20px;
}
#qide .part-body ul .up .axis-title {
  bottom: 80px;
}
#qide .part-body ul .down .index {
  bottom: -60px;
}
#qide .part-body ul .down .axis-title {
  bottom: -120px;
}
#qijie {
  margin-top: 50px;
  text-align: center;
}
#qijie .bg-img {
  background: url("../images/wenhua/wenhua_04.jpg") no-repeat 0 0 / cover;
}
#qijie .title {
  font-size: 46px;
}
#qijie .part-body {
  margin-top: 90px;
  padding-top: 140px;
  width: 100%;
  height: 592px;
}
#qijie .part-body ul.list {
  width: 328px;
  height: 328px;
  background: url("../images/wenhua/icon_04.png") no-repeat 0 0;
  position: relative;
  margin: 0 auto;
  color: #fff;
}
#qijie .part-body ul.list li {
  cursor: context-menu;
}
#qijie .part-body ul.list li span {
  position: absolute;
}
#qijie .part-body ul.list li .index {
  font-size: 24px;
  width: 40px;
  line-height: 40px;
  color: #fff;
  background: #888;
  display: block;
  border-radius: 50%;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
#qijie .part-body ul.list li .list-title {
  white-space: pre;
  width: 100%;
  font-size: 18px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
#qijie .part-body ul.list li .spot {
  width: 0;
  height: 0;
  border: 5px solid #fff;
  bottom: -5px;
  border-radius: 50%;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
#qijie .part-body ul.list li:hover {
  border-color: #42bd7f;
}
#qijie .part-body ul.list li:hover .index {
  color: #fff;
  background: #42bd7f;
}
#qijie .part-body ul.list li:hover .list-title {
  color: #42bd7f;
}
#qijie .part-body ul.list li:hover .spot {
  border-color: #42bd7f;
}
#qijie .part-body ul.list .one .index {
  left: 110px;
  top: -50px;
}
#qijie .part-body ul.list .one .list-title {
  left: -52px;
  top: -56px;
  width: 144px;
}
#qijie .part-body ul.list .one .spot {
  left: 134px;
  top: 2px;
}
#qijie .part-body ul.list .two .index {
  right: 0;
  top: 0;
}
#qijie .part-body ul.list .two .list-title {
  right: 0;
  top: 0;
  width: 214px;
}
#qijie .part-body ul.list .two .spot {
  right: 0;
  top: 0;
}
#qijie .part-body ul.list .two .index {
  top: 4px;
  right: 4px;
}
#qijie .part-body ul.list .two .list-title {
  top: -14px;
  right: -226px;
  width: 216px;
}
#qijie .part-body ul.list .two .spot {
  top: 40px;
  right: 55px;
}
#qijie .part-body ul.list .three .index {
  top: 147px;
  right: -50px;
}
#qijie .part-body ul.list .three .list-title {
  top: 144px;
  right: -200px;
  width: 134px;
}
#qijie .part-body ul.list .three .spot {
  top: 162px;
  right: 4px;
}
#qijie .part-body ul.list .four .index {
  right: 12px;
  bottom: 2px;
}
#qijie .part-body ul.list .four .list-title {
  right: -208px;
  bottom: -6px;
  width: 205px;
}
#qijie .part-body ul.list .four .spot {
  right: 58px;
  bottom: 42px;
}
#qijie .part-body ul.list .five .index {
  left: 90px;
  bottom: -42px;
}
#qijie .part-body ul.list .five .list-title {
  left: -106px;
  bottom: -46px;
  width: 178px;
}
#qijie .part-body ul.list .five .spot {
  left: 116px;
  bottom: 9px;
}
#qijie .part-body ul.list .six .index {
  left: -38px;
  bottom: 82px;
}
#qijie .part-body ul.list .six .list-title {
  left: -250px;
  bottom: 75px;
  width: 200px;
}
#qijie .part-body ul.list .six .spot {
  left: 14px;
  bottom: 97px;
}
#qijie .part-body ul.list .seven .index {
  left: -30px;
  top: 49px;
}
#qijie .part-body ul.list .seven .list-title {
  left: -182px;
  top: 43px;
  width: 138px;
}
#qijie .part-body ul.list .seven .spot {
  left: 20px;
  top: 80px;
}
#shehui {
  text-align: center;
  margin-top: 50px;
}
#shehui .title {
  font-size: 46px;
}
#shehui .bg-img {
  background: url("../images/wenhua/wenhua_05.jpg") no-repeat 0 0 / cover;
  z-index: -1;
}
#shehui .part-body {
  margin-top: 126px;
  height: 592px;
  width: 100%;
}
#shehui .part-body .list {
  margin: 100px auto 0;
}
#shehui .part-body .list li {
  color: #fff;
  text-align: center;
  width: 270px;
  display: inline-block;
}
#shehui .part-body .list li:not(:last-child) {
  margin-right: 120px;
}
#shehui .part-body .list li .img {
  width: 70%;
  display: inline-block;
}
#shehui .part-body .list li .title {
  font-size: 26px;
  margin-top: 9%;
}
#shehui .part-body .list li .description {
  margin-top: 6%;
  font-size: 18px;
  line-height: 28px;
}
