#zhanlue #method .stretch-part .stretch-img {
  background: url("../images/zhanlue.jpg") no-repeat 0 0 / cover;
}
#zhanlue #target ul {
  text-align: center;
}
#zhanlue #target ul li {
  display: inline-block;
  position: relative;
  width: 32%;
  min-width: 224px;
  text-align: center;
}
#zhanlue #target ul li .box {
  display: inline-block;
  position: relative;
  width: 60%;
  padding-top: 60%;
  border: 6px solid #c9c9c9;
}
#zhanlue #target ul li .box .msg {
  position: absolute;
  text-align: left;
  top: 20%;
  left: -34%;
  background: #fff;
  padding-top: 10%;
  padding-bottom: 5%;
}
#zhanlue #target ul li .box .msg .word {
  color: #42bd7f;
  font-size: 34px;
}
#zhanlue #target ul li .box .msg .amount {
  font-size: 22px;
}
#zhanlue #target .detail {
  border-top: 1px solid #ededed;
  margin-top: 60px;
  text-align: center;
}
#zhanlue #target .detail .title {
  color: #626262;
  font-size: 34px;
}
#zhanlue #target .detail .description {
  color: #767676;
  font-size: 16px;
  line-height: 28px;
}
@media (max-width: 1300px) {
  #target ul li .word {
    font-size: 26px!important;
  }
  #target ul li .amount {
    font-size: 16px!important;
  }
}
@media (max-width: 997px) {
  #method .wrap {
    margin-top: -85px;
  }
  #target ul li .msg {
    padding: 0 !important;
    top: 26% !important;
  }
  #target ul li .word {
    font-size: 22px!important;
  }
  #target ul li .amount {
    font-size: 14px!important;
  }
}
@media (max-width: 414px) {
  #target .part-title {
    margin-top: 30px;
    margin-bottom: 48px;
  }
  #target .detail {
    margin-top: 30px!important;
  }
  #target .detail .title {
    font-size: 20px!important;
    margin-top: 40px;
    margin-bottom: 23px;
  }
  #target .detail .description {
    margin: 0 auto;
    width: 95%;
    text-align: left;
    font-size: 13px!important;
    line-height: 24px !important;
    padding-bottom: 5px;
  }
  #target ul li {
    margin-bottom: 10px;
  }
  #target ul li .box {
    width: 80% !important;
    margin-left: 22% !important;
  }
}
