@import "../variables.less";
html{
  overflow-x: hidden;
}
.container-fluid, .container{
  padding:0;
}
.container-fluid{
  padding-top:70px;
}
.row{
  margin:0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  padding:0;
}
body{
    margin:0;
    padding:0;
    font-family: Microsoft Yahei, Arial, san-serif, serif;
}
img{
	max-width: 100%;
}
ul{
  list-style-type: none;
  margin: 0;
  padding:0;
}
h1, .h1, h2, .h2, h3, .h3{
  margin-top: 35px;
}
.inline-block{
  display: inline-block;
}
.relative{
  position: relative;
}
.green_2{
  color: @green_2;
}
.transition{
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.one-line-limit{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
//搜索栏
#alertsearch{
  background: rgba(0,0,0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:1000;
  display: none;
  .alertbox{
    width: 600px;
    height: 70px;
    background: #fff;
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 6px;
    padding-top: 15px;
    .transition()
  }
  .alertinput{
    background: #f1f1f1;
    width: 94%;
    height: 40px;
    margin: 0 auto;
    position: relative;
    input.shuru{
      height: 84%;
      width: 85%;
      padding-left: 2%;
      background: none;
      border: none;
      outline: none;
      line-height: 84%;
      font-size: 16px;
      padding-top: 3px;
    }
    input.tijiao{
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 10%;
      background: #42bd7f url('../images/search_bar.png') no-repeat center center;
      border: none;
      background-size: 50%;
      cursor: pointer;
    }
  }
}
#share{
  position: absolute;
  padding:0 4px 4px;
  background: #fff;
  right:-1px;
  bottom:-37px;
  display: none;
}
//分页器样式
.pagination-group{
  padding:10px 0;
  ul{
    line-height:34px;
    text-align: center;
    width:100%;
    li{
      display: inline-block;
      margin-right: 8px;
      margin-top: 10px;
      a{
        display: inline-block;
        &:hover{
          text-decoration: none;
        }
      }
      .page-nav{
        color: #000;
        &:hover{
          color: @green_2;
        }
      }
      .page-btn{
        padding: 0 14px;
        background: #3c3c3c;
        color: #fff;
        &:hover{
          color: #fff;
          background: @green_2;
        }
      }
      .cur-page{
        color: #fff;
        background: @green_2;
      }
    }
  }
}
//swiper分页器颜色
.swiper-pagination-bullet{
  background: #ccc;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background: @green_2;
}
.prev.swiper-button-disabled{
  background-image: url("../images/prev_disabled.png")!important;
}
.next.swiper-button-disabled{
  background-image: url("../images/next_disabled.png")!important;
}
.blue{
  color: @blue;
}
//移动端导航栏样式
.collapse-button{
  position: absolute;
  z-index: 999;
  right: 210px;
  top: 1.6%;
  width: 40px;
  padding: 7px 17px;
  font-size: 14px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  .icon-bar{
    display: block;
    height: 3px;
    width: 20px;
    margin: 3px 0;
    background: @green_2;
    border-radius: 2px;
  }
}
.news-icon{
  position: absolute;
  width:27px;
  height:24px;
  right:10px;
  top:10px;
}
.video-icon{
  background: url("../images/video-icon.png") no-repeat 0 0 / contain;
}
//下箭头样式
.to-down{
  width:35px;
  height:35px;
  position: absolute;
  bottom:30px;
  left:50%;
  margin-left: -17.5px;
  background: url("../images/to_down.png") no-repeat 0 0;
  background-size: 100%;
  cursor: pointer;
}
.scale{
  transition: all ease 3s!important;
  transform: scale(1.1) !important;
  opacity: 0!important;
}
#mobileNav{
  padding:0;
  clear: both;
  li.has-submenu{
    width:100%;
    text-align: center;
    line-height:40px;
    background: @green;
    color: #fff;
    position: relative;
    &:hover{
      background: @green - #111;
    }
    a{
      text-decoration: none;
      display: block;
      color: #fff;
      font-size: 16px;
      text-align: left;
      padding-left: 6%;
    }
    li{
      background: @green - #222;
      &:hover{
        background: @green - #333;
      }
    }
    .sub-toggle{
      position: absolute;
      right: 10px;
      top: 0;
      z-index: 999;
      width: 48px;
      height: 100%;
      text-align: center;
      cursor: pointer;
      color:#fff;
    }
    i{
      font-style: normal;
    }
  }
}
#header{
  position: fixed;
  left:0;
  top:0;
  width:100%;
  z-index:999;
  background: #fff;
  border:1px solid @border;
  .logo{
    display: inline-block;
    padding-top: 12px;
    margin-left: 40px;
    float: left;
  }
  .header-nav{
    display: inline-block;
    height: 69px;
    position: relative;
    margin-right: 20px;
    a{
      color: #333;
      display: block;
      width: 100%;
      height: 100%;
      &:hover{
        text-decoration: none;
        color: @green;
      }
    }
    .nav-li{
      display: inline-block;
      position: relative;;
      width: 100px;
      height: 100%;
      line-height: 70px;
      text-align: center;
      font-size: 16px;
      &:hover .sub-nav{
        display: block;
      }
    }
    .sub-nav{
      list-style-type: none;
      position: absolute;
      display: none;
      z-index: 10;
      padding: 0;
      background: #fff;
      width: 180%;
      min-width: 60px;
      left:-40%;
      border-top: 1px solid #f1f1f1;
      li{
        width: 100%;
        line-height:40px;
        -webkit-transition: all ease 0.2s;
        transition: all ease 0.2s;
        &:hover{
          background: @green;
          a{
            color: #fff;
          }
        }
      }
    }
    .extra-link{
      border-left: 1px solid #e5e5e5;
      vertical-align: top;
      width: 80px;
    }
    .search a{
      background: url('../images/search.png') no-repeat 50% 50%;
    }
    .share a{
      background: url('../images/share.png') no-repeat 50% 50%;
    }
  }
}
.content{
  .content-part{
    .part-title{
      text-align: center;
      margin-top: 50px;
      margin-bottom: 60px;
      font-size: 32px;
    }
  }
}
//标题下划线
.underline{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    border-bottom: 4px solid @green_2;
    top:140%;
    width:50px;
    left: 50%;
    margin-left: -25px;
  }
}
.underline-left{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    border-bottom: 4px solid @green_2;
    top:150%;
    width:50px;
    left: 0;
  }
}
.stretch-part{
  width: 100%;
  padding-bottom: 26%;
  position: relative;
  overflow: hidden;
  .stretch-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    transition: 1s ease all;
    -webkit-transition: 1s ease all;
  }
  .stretch-text{
    position: absolute;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    .wrap{
      max-width:100%;
      display: inline-block;
      position: relative;
      top:46%;
      margin-top: -120px;
    }
    .title{
      margin-top: 10px;
    }
    h2{
      font-size: 34px;
    }
    .description{
      //margin-bottom: 4px;
    }
    .play{
      display: inline-block;
      transition: 0.5s ease all;
      -webkit-transition: 0.5s ease all;
      width:48px;
      height:55px;
      background: url("../images/play_01.png") no-repeat 0 0 / contain;
    }
  }
  &:hover{
    .stretch-img{
      transform: scale(1.04);
    }
    .play{
      transform: scale(1.2);
      opacity: 0;
    }
  }
}
.content{
  .big-title{
    .title{
      font-size: 32px;
      margin-top: 0;
    }
    .sub-title{
      font-size: 26px;
    }
    .description{
      font-size: 16px;
      line-height:26px;
    }
  }
}
#dongtai{
  border-top:1px solid #ededed;
  a{
    text-decoration: none;
  }
  .dongtai-menu{
    position: relative;
  }
  .swiper-button{
    position: absolute;
    right:10px;
    top:-60px;
    .prev{
      cursor: pointer;
      width:10px;
      height:16px;
      margin-right: 10px;
      display: inline-block;
      background: url("../images/prev.png") no-repeat 0 0 / contain;
    }
    .next{
      cursor: pointer;
      width:10px;
      height:16px;
      display: inline-block;
      background: url("../images/next.png") no-repeat 0 0 / contain;
    }
  }
  .dongtai-box{
    .img{
      width:100%;
      overflow: hidden;
      img{
        //max-width:412px;
        //max-height:237px;
        width:100%;
        -webkit-transition: all ease 1s;
        transition: all ease 1s;
        &:hover{
          transform: scale(1.04);
        }
      }
    }
    .date{
      margin-top: 10px;
      color: #bcbcbc;
    }
    .title{
      font-size: 14px;
      color:#000;
      font-weight: bold;
    }
    .description{
      color: #bcbcbc - #111;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .more{
    a{
      display: block;
      width:274px;
      background: @green_2;
      color: #fff;
      text-align: center;
      font-size: 18px;
      line-height:56px;
      margin: 50px auto 0;
      -webkit-transition: all ease 0.4s;
      transition: all ease 0.4s;
      &:hover{
        background: @green_2 - #222;
      }
    }
  }
}
#footer{
  margin-top: 50px;
  height:295px;
  clear: both;
  background: url("../images/footer.jpg") no-repeat 0 0 /cover;
  .buildings{
    color: #fff;
    margin-top: 24px;
    text-align: center;
    li{
      display: inline-block;
      width:24%;
      .img{
        img{
          max-width:62px;
          max-height:164px;
        }
      }
      .city{
        margin:0;
        margin-top: 10px;
        font-size: 16px;
      }
      .location{
        margin:0;
        margin-top: 4px;
      }
      .phone{
        margin: 0;
        color: #888;
        font-size: 13px;
      }
    }
  }
}
#footerMenu{
  border-bottom: 1px solid #ededed;
  ul{
    text-align: center;
    li{
      display: inline-block;
      width:13.5%;
      text-align: center;
      line-height:60px;
      font-size: 18px;
      a{
        text-decoration: none;
        display: block;
        color: #000;
        &:hover{
          color: @green;
        }
      }
    }
  }
}
#copyright{
  margin-top: 14px;
  text-align: center;
  color: @gray;
  font-size: 12px;
  padding:0 10px;
}
.detail-mobile{
  position: relative;
  padding-left: 5px;
  padding-right:5px;
  text-align: left;
  color: @grayFont;
  width:96%;
  margin: 0 auto;
  font-size: 13px;
  line-height:24px;
  .index{
    display: inline-block;
    width:20px;
    height:20px;
    border-radius: 50%;
    background: @gray;
    text-align: center;
    color: #fff;
    line-height:20px;
    margin-right: 6px;
  }
  li{
    margin-top: 20px;
    font-size: 13px;
    width:96%;
    &:hover{
      color: @green_2;
    }
  }
}
//七大产业样式
.chanye-page{
  .chanye-title{
    .stretch-part{
      .wrap{
        margin-top: -68px;
      }
    }
    .description{
      margin-top: 50px;
    }
  }
  .chanye-detail{
    margin:40px auto 0;
    width:74%;
    .left{
      display: inline-block;
      width:55%;
      padding-right: 5%;
      vertical-align: top;
      .description{
        margin-top: 48px;
        text-indent:2em;
        font-size: 16px;
        line-height:30px;
        color: @deepFontGray;
        p{
          margin: 0 0 6px;
        }
      }
      .title{
        margin-top: 11%;
        padding-bottom:10px;
        font-size: 34px;
      }
    }
    .right{
      display: inline-block;
      width:40%;
    }
  }
  .chanye-icon{
    border-top: 1px solid @border;
    margin-top: 40px;
    .part-title{
      margin-top: 60px;
      margin-bottom: 70px;
    }
    .stretch-part{

    }
  }
  .chanye-description{
    width:64%;
    text-indent:2em;
    margin:60px auto 0;
    font-size: 16px;
    line-height:30px;
    color: @deepFontGray;
    p{
      margin: 0 0 6px;
    }
  }
}
@media (max-width: 1160px){
  .header-nav .nav-li{
    width: 60px !important;
    .sub-nav{
      width: 100px !important;
    }
  }
  .stretch-part{
    padding-bottom:32%;
    .stretch-text{
      .title{
        font-size: 28px!important;
      }
      .description{
        margin-bottom: 4px!important;
      }
      .play{
        width: 50px !important;;
        height: 50px !important;;
      }
    }
    .big-title{
      .title{
        font-size: 30px!important;
      }
      .sub-title{
        margin-top: 20px!important;
        font-size: 24px!important;
      }
      .description{
        font-size: 14px!important;
      }
    }
  }
}
@media (max-width: 992px){
  .stretch-part{
    padding-bottom:40% !important;
  }
  //七大产业
  .chanye-page{
    .chanye-detail{
      width:95%;
    }
    .chanye-icon{
      .stretch-part{
        .stretch-text{
          .wrap{
            width:98%;
          }
        }
      }
    }
    .chanye-description{
      width:90%;
    }
  }
}
@media (max-width: 768px){
  .stretch-part{
    padding-bottom:52% !important;
  }
  /*导航头部*/
  .container-fluid{
    padding-top: 60px;
  }
  .row{ margin-left:0; margin-right:0;}
  #header .logo{ margin-left:11px;}
  #header .header-nav{ height:49px;margin-right: 0px;}
  .header-nav .nav-li{ width:60px;}
  #header .header-nav .extra-link{ border:none;line-height:50px; width:32px !important;}
  #header .header-nav .extra-link a{ color:#888;}
  .collapse-button{ top:8px; right:80px;}
  .collapse-button .icon-bar{ background:#888;}
  /*导航头部*/
  .content .content-part .part-title{ font-size:24px; margin-bottom:45px; margin-top:30px;}

  //.stretch-part .stretch-text .description {width: 85%; margin: 0 auto; overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
  .line-limit{
    width: 85%; margin: 0 auto; overflow: hidden;text-overflow: ellipsis; white-space: nowrap;
  }
  //七大产业
  .chanye-page{
    .chanye-title{
      .stretch-part{
        .wrap{
          width:96%;
        }
      }
    }
    .chanye-detail{
      width:98%;
      .left{
        width:58%;
        padding-right:2%;
      }
    }
  }
}
@media (min-width: 415px ) and (max-width: 768px) {
  .underline::after{
    top:120%;
  }
}
@media (max-width: 414px){
  h1, h2, h3{
    margin-top: 16px;
  }
  .swiper-pagination{
    .swiper-pagination-bullet{
      width:4px;
      height:4px;
      margin:0 2px!important;
    }
  }
  .container-fluid{
    padding-top: 50px;
  }
  .header{
    .logo{
      width: 160px !important;;
      padding-top: 10px !important;;
    }
  }
  .stretch-part{
    padding-bottom:70% !important;
    .stretch-text{
      width:90%;
      left:4%;
      .img{
        span{
          width: 60px !important;;
          height: 60px !important;;
        }
      }
      .title{
        font-size: 18px!important;
      }
      .sub-title{
        font-size: 15px!important;
      }
      .description{
        width:90%;
        font-size: 12px!important;
        margin: 15px auto 0;
        line-height:20px;
      }
      .play{
        width: 27px !important;;
        height: 40px !important;;
      }
    }
  }
  .news-icon{
    width: 20px !important;;
    height: 18px !important;
    top:4px;
    right:4px;
  }
  #footer{
    .buildings{
      margin-top: 12px;
    }
  }
  #footer{ margin-top:35px;
    height:auto;
    padding-bottom:23px;
  }
  #footer .buildings li{vertical-align: top; width:23%;}
  #footer .buildings li .city{ font-size:14px;}
  #footer .buildings li .location{ font-size:13px;}
  #footer .buildings li img{
    width:50%;
  }
  #footerMenu ul li{ font-size:12px; width:13%;}
  .chanye-page{
    .chanye-title{

    }
    .chanye-detail{
      margin-top: 20px;
      text-align: center;
      .left{
        width:98%;
        padding-right:0;
        .title{
          text-align: center;
          font-size: 20px;
          margin-top: 0;
        }
        .description{
          text-align: left;
          font-size: 13px;
          line-height:24px;
          width:96%;
          margin: 26px auto 20px;
        }
      }
      .right{
        width:80%;
      }
    }
    .stretch-part{
      .stretch-text{
        .description{
          margin-top: 20px;
          overflow: auto;
          white-space:normal;
        }
      }
    }
    .chanye-description{
      width:90%;
      margin-top: 16px;
      font-size: 13px;
      line-height:24px;
    }
  }
  .underline-left::after{
    width:40px;
    margin-left: -20px;
    left:50%;
    top:100%;
  }
  #dongtai{
    border-top: 1px solid #ededed;
    padding-bottom:30px;
    .dongtai-box{
      p.date{
        padding-left: 8px!important;
      }
      .title{
        padding-left: 8px!important;
        padding-right: 8px!important;
      }
      .description{
        padding-left: 8px!important;
        padding-right: 8px !important;;
      }
    }
    .more{
      a{
        margin-top: 20px;
      }
    }
  }
  #alertsearch{
    .alertbox{
      width:90%;
    }
  }
  .to-down{
    width:20px;
    height:20px;
    margin-left: -10px;
    bottom:18px;
  }
  .hidden-phone {
    display: none !important;
  }
}
@media screen and (min-width: 414px) {
  .visible-phone-block{
    display: none!important;
  }
}