@import "../variables";
.news-head{
  .stretch-part{
    .stretch-img{
      background: url("../images/news/news_head.jpg") no-repeat 0 0 / cover;
    }
  }
}
.list-body{
  width:74%;
  margin:50px auto 0;
  li{
    float: left;
    width:386px;
    margin-right: 30px;
    .img{
      img{
        width:100%;
      }
    }
    .word{
      font-size: 16px;
      .date{
        color: @grayFont;
      }
      .title{
        font-weight: bold;
      }
    }
  }
}
.news-body{
  width:74%;
  margin: 50px auto 0;

}