@import "../variables";
#shequ{
  .chanye-title{
    .stretch-img{
      background: url("../images/shequ/shequ_01.jpg") no-repeat 0 0 / cover;
    }
  }
  .chanye-icon{
    .stretch-img{
      background: url("../images/shequ/shequ_02.jpg") no-repeat 0 0 / cover;
    }
  }
  .chanye-icon{
    border-top: none;
  }
  .chanye-detail{
    border-top:1px solid @border;
    padding-top:65px;
    margin-top: 60px;
  }
}
@media (max-width: 414px){
  .chanye-icon{
    margin-top: 20px!important;
  }
  .content-part{
    .part-title{
      margin-top: 0!important;
    }
  }
  .chanye-detail{
    margin-top: 30px!important;
    padding-top: 15px !important;;
  }
}