@import "../variables";
.part-body{
  overflow: hidden;
  position: relative;
  .bg-img{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    transition: 1s ease all;
    -webkit-transition: 1s ease all;
  }
  &:hover{
    .bg-img{
      transform: scale(1.04);
    }
  }
}
#yuanjing{
  .stretch-part{
    .stretch-img{
      background: url("../images/wenhua/wenhua_01.jpg") no-repeat 0 0 /cover;
    }
    .stretch-text{
     .wrap{
       margin-top: -90px;
     }
    }
  }
  .detail{
    .row{
      margin-top: 50px;
    }
    .item{
      width:550px;
      margin: 0 auto;
      cursor: context-menu;
      .box{
        display: inline-block;
        position: relative;
        width:30%;
        padding-top:27.5%;
        margin-right: 10%;
        vertical-align: middle;
        border:6px solid #888;
        .msg span{
          position: absolute;
          font-size: 60px;
          color: #888;
          top:20%;
          right: -36px;
          background: #fff;
        }
      }
      .description{
        display: inline-block;
        position: relative;
        top:14px;
        color: @grayFont;
        font-size: 18px;
      }
      &:hover{
        .box{
          border-color: @green;
          .msg span{
            color: @green;
          }
        }
        .description{
          color: @green;
        }
      }
    }
  }
}
#shiming{
  margin-top: 40px;
  border-top:1px solid @border;
  color: @deepFontGray;
  text-align: center;
  .part-title{
    font-size: @bigTitleSize;
    margin-bottom: 36px;
  }
  .sub-title{
    font-size: 26px;
  }
  .description{
    font-size: 16px;
    line-height:24px;
  }
}
#jiazhi{
  margin-top: 50px;
  padding-bottom:32%;
  .stretch-img{
    background: url("../images/wenhua/wenhua_02.jpg") no-repeat 0 0 / cover;
  }
  .stretch-text{
    padding-top:3%;
  }
  .sub-title{
    margin-bottom: 30px;
  }
  .item{
    .img{
      width:45%;
      display: inline-block;
    }
    .list-title{
      font-size: 30px;
    }
    .description{
      font-size: 18px;
      line-height:28px;
    }
  }
}
#qide{
  margin-top: 50px;
  text-align: center;
  .bg-img{
    background: url("../images/wenhua/wenhua_03.jpg") no-repeat 0 0 / cover;
  }
  .title{
    font-size: @bigTitleSize;
  }
  .part-body{
    margin-top: 90px;
    padding-top:140px;
    width:100%;
    height:592px;
    ul{
      .axis-box{
        cursor: context-menu;
        display: inline-block;
        margin-right: -5px;
        width:180px;
        height:160px;
        position: relative;
        border-bottom: 2px solid @gray;
        span{
          position: absolute;
        }
        .index{
          font-size: 24px;
          width:40px;
          line-height:40px;
          color: #fff;
          background: @grayFont;
          display: block;
          border-radius: 50%;
          left:50%;
          margin-left: -20px;
          .transition()
        }
        .axis-title{
          white-space:pre;
          width:100%;
          font-size: 18px;
          color: @grayFont;
          left:0;
          .transition()
        }
        .spot{
          width:0;
          height:0;
          border: 5px solid @deepFontGray;
          bottom: -5px;
          left:50%;
          margin-left: -5px;
          border-radius: 50%;
          .transition()
        }
        &:hover{
          .index{
            color: #fff;
            background: @green_2;
          }
          .axis-title{
            color: @green_2;
          }
          .spot{
            border-color: @green_2;
          }
        }
      }
      .up{
        .index{
          bottom:20px;
        }
        .axis-title{
          bottom:80px;
        }
      }
      .down{
        .index{
          bottom:-60px;
        }
        .axis-title{
          bottom: -120px;
        }
      }
    }
  }
}
#qijie{
  margin-top: 50px;
  text-align: center;
  .bg-img{
    background: url("../images/wenhua/wenhua_04.jpg") no-repeat 0 0 / cover;
  }
  .title{
    font-size: @bigTitleSize;
  }
  .part-body{
    margin-top: 90px;
    padding-top: 140px;
    width:100%;
    height:592px;
    ul.list{
      width:328px;
      height:328px;
      background: url("../images/wenhua/icon_04.png") no-repeat 0 0 / contain;
      position: relative;
      margin: 0 auto;
      color: #fff;
      li{
        cursor: context-menu;
        span{
          position: absolute;
        }
        .index{
          font-size: 24px;
          width:40px;
          line-height:40px;
          color: #fff;
          background: @grayFont;
          display: block;
          border-radius: 50%;
          .transition()
        }
        .list-title{
          white-space:pre;
          width:100%;
          font-size: 18px;
          .transition()
        }
        .spot{
          width:0;
          height:0;
          border: 5px solid #fff;
          bottom: -5px;
          border-radius: 50%;
          .transition()
        }
        &:hover{
          border-color: @green_2;
          .index{
            color: #fff;
            background: @green_2;
          }
          .list-title{
            color: @green_2;
          }
          .spot{
            border-color: @green_2;
          }
        }
      }
      .one{
        .index{
          left:110px;
          top:-50px;
        }
        .list-title{
          left:-52px;
          top:-56px;
          width:144px;
        }
        .spot{
          left:134px;
          top:2px;
        }
      }
      .two{
        .index{
          right:0;
          top:0;
        }
        .list-title{
          right: 0;
          top:0;
          width:214px;
        }
        .spot{
          right:0;
          top:0;
        }
      }
      .two{
        .index{
          top:4px;
          right:4px;
        }
        .list-title{
          top:-14px;
          right:-226px;
          width:216px;
        }
        .spot{
          top:40px;
          right:55px;
        }
      }
      .three{
        .index{
          top: 147px;
          right:-50px;
        }
        .list-title{
          top:144px;
          right:-200px;
          width:134px;
        }
        .spot{
          top:162px;
          right:4px;
        }
      }
      .four{
        .index{
          right:12px;
          bottom:2px;
        }
        .list-title{
          right:-208px;
          bottom:-6px;
          width:205px;
        }
        .spot{
          right:58px;
          bottom:42px;
        }
      }
      .five{
        .index{
          left:90px;
          bottom:-42px;
        }
        .list-title{
          left:-106px;
          bottom:-46px;
          width:178px;
        }
        .spot{
          left:116px;
          bottom:9px;
        }
      }
      .six{
        .index{
          left:-38px;
          bottom:82px;
        }
        .list-title{
          left:-250px;
          bottom:75px;
          width:200px;
        }
        .spot{
          left:14px;
          bottom:97px;
        }
      }
      .seven{
        .index{
          left:-30px;
          top: 49px;
        }
        .list-title{
          left:-182px;
          top:43px;
          width:138px;
        }
        .spot{
          left:20px;
          top:80px;
        }
      }
    }
  }
}
#shehui{
  text-align: center;
  margin-top: 50px;
  .title{
    font-size: 46px;
  }
  .bg-img{
    background: url("../images/wenhua/wenhua_05.jpg") no-repeat 0 0 / cover;
    z-index:-1;
  }
  .part-body{
    margin-top: 126px;
    height:592px;
    width:100%;
    .list{
      margin: 100px auto 0;
      .item{
        color: #fff;
        text-align: center;
        display: inline-block;
        .img{
          width:70%;
          display: inline-block;
        }
        .title{
          font-size: 26px;
          margin-top: 9%;
        }
        .description{
          margin: 6% auto 0;
          font-size: 18px;
          line-height:28px;
          width:60%;
        }
      }
    }
  }
}
@media (max-width: 1400px){
  #yuanjing{
    .detail{
      .item{
        width:460px;
        .box{
          width:28%;
          margin-right: 6%;
          .msg{
            span{
              top:22%;
              font-size: 50px;
            }
          }
        }
        .description{
          font-size: 16px;
        }
      }
    }
  }
  #jiazhi{
    padding-bottom:40%;
  }
}
@media (max-width: 1300px){
  #qide{
    .part-body{
      ul{
        .axis-box{
          width:140px;
          .index{
            width:35px;
            height:35px;
            line-height:35px;
            font-size: 22px;
            margin-left: -17.5px;
          }
        }
        .up{
          .index{
            bottom:14px;
          }
          .axis-title{
            bottom:60px;
          }
        }
        .down{
          .index{
            bottom:-49px;
          }
          .axis-title{
            bottom:-110px;
          }
        }
      }
    }
  }
}
@media (max-width: 992px){
  #jiazhi{
    .stretch-text{
      padding-top:2%;
    }
    padding-bottom:50% !important;
  }
  #shehui{
    .part-body{
      .list{
        .item{
          .description{
            width:90%;
          }
        }
      }
    }
  }
  #qide{
    .part-body{
      padding-top:50px;
      height:412px;
      ul{
        .axis-box{
          width:100px;
          .index{
            width:30px;
            height:30px;
            line-height:30px;
            font-size: 22px;
            margin-left: -15px;
          }
          .axis-title{
            font-size: 16px;
          }
        }
        .up{
          .index{
            bottom:14px;
          }
          .axis-title{
            bottom:50px;
          }
        }
        .down{
          .index{
            bottom:-49px;
          }
          .axis-title{
            bottom:-100px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px){
  #yuanjing{
    .detail{
      margin-top: 30px;
      .row{
        margin-top: 0;
      }
      .item{
        width:460px;
        margin-top: 20px;
        .box{
          width:28%;
          margin-right: 6%;
          .msg{
            span{
              top:22%;
              font-size: 50px;
            }
          }
        }
        .description{
          font-size: 16px;
        }
      }
    }
  }
  #jiazhi{
    .sub-title{
      margin-bottom: 8px;
    }
    .item{
      .list-title{
        font-size: 20px;
      }
      .description{
        width:96%;
      }
    }
  }
  #shehui{
    .part-body{
      height:550px;
      .list{
        .item{
          .description{
            width:96%;
            font-size: 14px;
          }
        }
      }
    }
  }
  #qijie{
    .part-body{
      padding-top:100px;
      height:412px;
      ul.list{
        width:200px;
        height:200px;
        li{
          .index{
            font-size: 18px;
            width:30px;
            height:30px;
            line-height:30px;
          }
          .list-title{
            font-size: 14px;
          }
        }
        .one{
          .spot{
            left:54px;
            top:7px;
          }
          .index{
            left:27px;
            top:-25px;
          }
          .list-title{
            left:-122px;
            top:-32px;
          }
        }
        .two{
          .spot{
            top:17px;
            right: 39px;
          }
          .index{
            top:-15px;
            right:13px;
          }
          .list-title{
            top:-28px;
            right: -212px;
          }
        }
        .three{
          .index{
            top:80px;
            right: -36px;
          }
          .list-title{
            top:77px;
            right: -178px;
          }
          .spot{
            top:91px;
            right: 0;
          }
        }
        .four{
          .index{
            right:-6px;
            bottom:4px;
          }
          .list-title{
            right: -220px;
            bottom: -2px;
          }
          .spot{
            right:30px;
            bottom: 27px;
          }
        }
        .five{
          .index{
            left:36px;
            bottom:-28px;
          }
          .list-title{
            left:-149px;
            bottom:-33px;
          }
          .spot{
            left:63px;
            bottom:6px;
          }
        }
        .six{
          .index{
            left:-31px;
            bottom:42px;
          }
          .list-title{
            left:-238px;
            bottom:35px;
          }
          .spot{
            left:6px;
            bottom:57px;
          }
        }
        .seven{
          .index{
            left:-33px;
            top:49px;
          }
          .list-title{
            left:-178px;
            top:43px;
          }
          .spot{
            left:4px;
            top:60px;
          }
        }
      }
    }
  }
  #qide{
    .part-body{
      padding-top:30px;
      height:292px;
      ul{
        .axis-box{
          width:70px;
          height:120px;
          .index{
            width:20px;
            height:20px;
            line-height:20px;
            font-size: 14px;
            margin-left: -10px;
          }
          .axis-title{
            font-size: 14px;
          }
          .spot{
            border-width: 3px;
            bottom:-4px;
            margin-left: -3px;
          }
        }
        .up{
          .index{
            bottom:6px;
          }
          .axis-title{
            bottom:30px;
          }
        }
        .down{
          .index{
            bottom:-26px;
          }
          .axis-title{
            bottom:-70px;
          }
        }
      }
    }
  }
}
@media (max-width: 700px){
  #jiazhi{
    padding-bottom:60% !important;
  }
}
@media (max-width: 414px){
  #yuanjing{
    .detail{
      margin-top: 30px;
      .row{
        margin-top: 0;
      }
      .item{
        width:300px;
        margin-top: 16px;
        .box{
          width:20%;
          padding-top:18%;
          margin-right: 10px;
          .msg{
            span{
              top:18%;
              font-size: 26px;
              right:-18px;
            }
          }
        }
        .description{
          font-size: 14px;
        }
      }
    }
  }
  #jiazhi{
    padding-bottom:80% !important;
  }
  #shehui{
    .part-body{
      height:380px;
      .list{
        margin-top: 40px;
        .item{
          .title{
            font-size: 18px;
          }
          .description{
            width:90%;
            font-size: 14px;
          }
        }
      }
    }
  }
  #qide{
    .part-body{
      padding-top:30px;
      height:292px;
      ul{
        .axis-box{
          width:44px;
          height:120px;
          .index{
            width:20px;
            height:20px;
            line-height:20px;
            font-size: 14px;
            margin-left: -10px;
          }
          .axis-title{
            font-size: 12px;
            .one-line-limit()
          }
          .spot{
            border-width: 3px;
            bottom:-4px;
            margin-left: -3px;
          }
        }
        .up{
          .index{
            bottom:6px;
          }
          .axis-title{
            bottom:30px;
          }
        }
        .down{
          .index{
            bottom:-26px;
          }
          .axis-title{
            bottom:-70px;
          }
        }
      }
    }
  }
}